*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: 'Poppins', sans-serif;
    --white: white;
    --grey: #eeeeee;
    --light-grey: #dbdbdb;
}

body{
    font-family: var(--font);
    font-weight: 400;
    display: grid;
    grid-row: auto  ;
    align-items: center;
    height: 100vh;
}

header, footer{
    display: flex;
    align-items: center;
    height: 10vh;
}

header{
    padding-inline: 4rem;
    background: rgb(129,150,255);
    background: linear-gradient(90deg, rgba(129,150,255,1) 0%, rgba(99,84,199,1) 16%, rgba(255,43,218,1) 39%, rgba(255,211,50,1) 60%, rgba(255,85,0,1) 79%, rgba(255,50,92,1) 100%);;
    color: var(--white);
}

header img{
    height: 3rem;
}

main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 3rem 1rem 3rem;
    gap: 32px;
}

.container-table{
    overflow: auto;
    display: flex;
    width: 100%;
    scroll-behavior: smooth;
}

.container-table::-webkit-scrollbar{
    display: none;
}

main h1{
    color: black;
    font-size: 2.5rem;
}

table th{
    background-color: #f2445e;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    position: sticky;
    top: -1px;
    border: solid 0.2px var(--light-grey);
}

table{
    border-collapse: collapse;
    width: 100%;
}

#um{
    border-left: none;
    border-top: none;
    border-top-left-radius: 12px;
}

#dois{
    border-right: none;
    border-top: none;
    border-top-right-radius: 12px;
}

tr{
    height: 5rem;
}

tr > td{
    font-size: 1.4rem;
    padding: 24px;
    border: solid 0.2px var(--light-grey);
}

td *{
    font-size: 1.4rem; 
    text-decoration: none;
    color: black;
}

td a:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer{
    justify-content: center;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--blue);
}