body{
    background-image: url(../img/pizza-back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
}

body::after{
    content: '';
    display: block;
    position: fixed;
    background: var(--gradient-laranja);
    inset: 0;
    margin: auto;
    pointer-events: none;
    z-index: -1;
}